:root {
    --cor-titulo-laranja-escuro: #833111;
    --cor-titulo-geral: #9b431f;
    --peso-titulo:700;
    --cor-botao-verde: #16C34D;
    --cor-botao-vermelho: #DC0505;
    --cor-titulo-bege: #f4e9e0;

}

body {
    background-color: #f4e9e0;
    font-family: 'Montserrat';
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

p, li {
    text-align: justify;
}

.titulo, .titulo-colecao, strong, th, .looks-disponiveis h2, hr {
    color: var(--cor-titulo-geral);
}

h5 {
    font-weight: 500;
    color: var(--cor-titulo-laranja-escuro);
}

hr {
    height: 4px;
}


.carousel {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.carousel img {
    height: 250px;
    width: 250px;
    margin: 24px;
}

.roupas {
    background-color: #e9c9b3;
}

section {
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
    padding-top: 56px;
}


section h2 {
    text-align: center;
}

.foto-vanessa {
    max-width: 380px;
}

.foto-sobre-mim {
    width: 28%;
    padding-left: 32px;
    padding-top: 24px;
}

.texto-sobre-mim {
    display: flex;
    text-align: left;
    padding-right: 32px;
}


.fim-pagina {
    text-align: center;
    font-weight: 200;
}

.fim-pagina hr {
    height: 1px;
}

img {
    border-radius: 10px;
}

button {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    color: white;
}


button:hover {
    outline: 2px solid var(--cor-titulo-laranja-escuro);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.botao {
    display: flex;
    justify-content: center;
}

.nav-bar {
    height: 64px;
    width: 100%;
    background-color: var(--cor-titulo-laranja-escuro);
    color: var(--cor-titulo-bege);
    position: fixed;
    display: flex;
    z-index: 1;
    text-align: center;
    top: 0;
    left: 0;
    align-items: center;
    font-weight: bold;
}

.menu {
    width: 100%;
}

.menu a {
    padding: 24px;
    justify-content: center;
    display: inline-block;
    align-items: center;
}

.menu a :hover {
    text-decoration: underline;
}

.vann-store {
    font-family: "Allura", cursive;
    font-size: 28px;
    color: var(--cor-titulo-bege);
    display: inline-block;
    width: 30%;
    position: absolute;
}

.vann-store h1 {
    text-align: left;
    padding-left: 32px;
}

.conteudo {
    padding-top: 48px;
}

.all-cards {
    display: flex;
    justify-content: center;
    gap: 1vh 5vw;
    flex-flow: row wrap;
    margin: 0 auto;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    height: auto; 
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    
}

.desconto {
    font-weight: 400;
    text-decoration:line-through;
    font-size: 12px;
    margin: 8px 0px 0px 0px;
}

.valor {
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0px 0px 0px;
    color: var(--cor-titulo-laranja-escuro);
}

.parcela {
    font-weight: 800;
    font-size: 10px;
    margin: 8px 0px 16px 0px;
}

div.card {
    margin: 10px 0px;
}


.card h4 {
    color: var(--cor-titulo-laranja-escuro);
    margin: 0px;
    font-size: 16px;
}

.card img {
    margin: 0px;
    top: 0;
    border-radius: 10px 10px 0% 0%;
}

.card:hover {
    box-shadow: var(--cor-titulo-laranja-escuro);
}

.looks-disponiveis {
    /* display: flex; */
    justify-content: center;
    padding: 16px 0px;
    text-align: center;
    margin-bottom: 24px;
    width: 100%;
}

.looks-disponiveis h2 {
    font-size: 24px;
    padding-bottom: 20px;
}


.botao-compra {
    min-width: 70%;
    padding: 10px 12px;
    border: none;
    border-radius: 12px;
    background-color: #512454;
    color: white;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    cursor: pointer;
}

.botao-compra:hover {
    background-color: #87138f;
    text-decoration: none;
    transform: scale(1.06);
    transition: all .2s ease-in-out;
}


.botao-compra a {
    color: white;
}
.botao-compra a:hover {
   color: white;
}

.venda-roupa {
    width: 100%;
    
}

.venda-roupa img{
    float: left;
    padding: 0px 40px;
    border-radius: 20px;
}