:root {
    --cor-titulo-laranja-escuro: #833111;
    --cor-titulo-geral: #9b431f;
    --peso-titulo:700;
    --cor-botao-verde: #16C34D;
    --cor-botao-vermelho: #DC0505;
    --cor-titulo-bege: #f4e9e0;

}

body {
    background-color: #f4e9e0;
    font-family: 'Montserrat';
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin: 0px;

}

html {
    scroll-behavior: smooth;
}

p, li {
    text-align: justify;
}

.titulo, .titulo-colecao, strong, th, .looks-disponiveis h2, hr {
    color: var(--cor-titulo-geral);
}

h5 {
    font-weight: 500;
    color: var(--cor-titulo-laranja-escuro);
}

hr {
    height: 4px;
}

.container-services{
    height:90px;
    width: 100%;
    background-color: #e9c9b3;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color:#833111;
}

.service{
    flex: 1;
    text-align: center;
}
  
.services h2 {
    font-size: 18px;
    margin-bottom: 9px;
    margin-right: 10px; 
}
  
.service p {
    font-size: 14px;
    text-align: center;
    margin-right: 10px; 
    
}

.icones{
    display: flex; 
    gap: 17px; 
    align-items: center; 
    font-size: 17px; 
    margin-right: 20px;

}


.carousel {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.carousel img {
    height: 250px;
    width: 250px;
    margin: 24px;
}

.container-services{
    height:90px;
    width: 100%;
    background-color: #e9c9b3;
    padding-top:75px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color:#833111
}

.service{
    flex: 1;
    text-align: center;
}
  
.services h2 {
    font-size: 18px;
    margin-bottom: 9px;
    margin-right: 10px; 
}
  
.service p {
    font-size: 14px;
    text-align: center;
    margin-right: 10px; 
    
}

.roupas {
    position: relative;
    /* margin-top: 68px; */
    margin: 0 auto;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.carousel {
    width: 600%;
    height: 100%;
    display: flex;
}

.carousel input{
    display: none;
}

.carrossel{
    position: relative;
}

.slide {
    width: 100%;
    position: relative;
}

.gira_gira{
    width: 600%;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation-name: slideshow;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-direction: alternate;
}

@keyframes slideshow { 
    0% { margin-left: 0; } 
    15% { margin-left: -20%; } 
    30% { margin-left: -40%; }  
    45% { margin-left: -60%; }  
    60% { margin-left: -80%; }
    75% {margin-left: -100%;}
    90% {margin-left: -120%;}
    100% {margin-left: -140%;}
}

.slide img{
    width: 100%;
    height: 500px;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .gira_gira{
    margin-left: 0;
}

#radio2:checked ~ .gira_gira{
    margin-left: -25%;
}

#radio3:checked ~ .gira_gira{
    margin-left: -50%;
}

.manual-btn:hover{
    background-color: white;
}

section {
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
    padding-top: 56px;
}


section h2 {
    text-align: center;
}

.foto-vanessa {
    max-width: 380px;
}

.foto-sobre-mim {
    width: 28%;
    padding-left: 32px;
    padding-top: 24px;
}

.texto-sobre-mim {
    display: flex;
    text-align: left;
    padding-right: 32px;
}


.fim-pagina {
    text-align: center;
    font-weight: 200;
}

.fim-pagina hr {
    height: 1px;
}

button {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    color: white;
}


button:hover {
    outline: 2px solid var(--cor-titulo-laranja-escuro);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.botao {
    display: flex;
    justify-content: center;
}

.nav-bar {
    height: 64px;
    width: 100%;
    background-color: var(--cor-titulo-laranja-escuro);
    color: var(--cor-titulo-bege);
    position: fixed;
    display: flex;
    z-index: 1;
    text-align: center;
    top: 0;
    left: 0;
    align-items: center;
    font-weight: bold;
    font-family: 'Montserrat';
}

.menu {
    width: 100%;
}

.menu a {
    padding: 24px;
    justify-content: center;
    display: inline-block;
    align-items: center;
}

.menu a :hover {
    text-decoration: underline;
}

.vann-store {
    font-family: "Allura", cursive;
    font-size: 28px;
    color: var(--cor-titulo-bege);
    display: inline-block;
    width: 30%;
    position: absolute;
}

.vann-store h1 {
    text-align: left;
    padding-left: 32px;
}

.conteudo {
    padding-top: 6px;
}

.icones{
    display: flex; 
    gap: 17px; 
    align-items: center; 
    font-size: 17px; 
    margin-right: 20px;
    margin-top: 64px;
}

.all-cards {
    display: flex;
    justify-content: center;
    gap: 1vh 5vw;
    flex-flow: row wrap;
    margin: 0 auto;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    height: auto; 
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    
}

.desconto {
    font-weight: 400;
    text-decoration:line-through;
    font-size: 12px;
    margin: 8px 0px 0px 0px;
}

.valor {
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0px 0px 0px;
    color: var(--cor-titulo-laranja-escuro);
}

.parcela {
    font-weight: 800;
    font-size: 10px;
    margin: 8px 0px 16px 0px;
}

div.card {
    margin: 10px 0px;
}


.card h4 {
    color: var(--cor-titulo-laranja-escuro);
    margin: 0px;
    font-size: 16px;
}

.card img {
    margin: 0px;
    top: 0;
    border-radius: 10px 10px 0% 0%;
}

.card:hover {
    box-shadow: var(--cor-titulo-laranja-escuro);
}

.looks-disponiveis {
    /* display: flex; */
    justify-content: center;
    padding: 16px 0px;
    text-align: center;
    margin-bottom: 24px;
    width: 100%;
}

.looks-disponiveis h2 {
    font-size: 24px;
    padding-bottom: 20px;
}


.botao-compra {
    min-width: 70%;
    padding: 10px 12px;
    border: none;
    border-radius: 12px;
    background-color: #512454;
    color: white;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    cursor: pointer;
}

.botao-compra:hover {
    background-color: #87138f;
    text-decoration: none;
    transform: scale(1.06);
    transition: all .2s ease-in-out;
}


.botao-compra a {
    color: white;
}
.botao-compra a:hover {
   color: white;
}

.venda-roupa {
    width: 100%;
    
}

.venda-roupa img{
    float: left;
    padding: 0px 40px;
    border-radius: 20px;
    padding-top: 64px;
}