body {
    background-color: #f4e9e0;
    font-family: 'Montserrat';
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

p, li {
    text-align: justify;
}

.titulo, .titulo-colecao, strong, th {
    color: #9b431f;
}

h5 {
    font-weight: 500;
    color: #833111;
}

hr {
    height: 4px;
    background-color: #9b431f;
}

.titulo-colecao {
    text-align: center;
    font-weight: 700;
}

.carousel {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.carousel img {
    height: 250px;
    width: 250px;
    margin: 24px;
}

.roupas {
    background-color: #e9c9b3;
}

section {
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
    padding-top: 56px;
}

section h2 {
    text-align: center;
}

.hr-compra {
    height: 1px;
}

.dados-user {
    width: 100%;
}

.user-input {
    padding-block: 8px;
}

.nome-user {
    width: 50%;
}

.nome-input {
    width: 89%;
}

.endereco-input {
    padding-top: 10px;
}

.endereco-barra {
    width: 85%;
}

.opcao-tamanho span {
    padding: 10px;
}


.div-tabela-tamanho {
    border: 1 px #9b431f;
}

.tabela-tamanho {
    font-size: 14px;
    border: 2px solid #9b431f;
    border-radius: 8px;
    padding: 4px;
    background-color: white;
}

.tabela-tamanho td {
    padding: 4px;
    text-align: center;
}

.tabela-tamanho th {
    padding: 4px;
}

.tabela-tamanho thead th {
    padding: 8px;
}

.tabela-tamanho tbody tr {
    padding: 12px;
}

input {
    border-radius: 4px;
    font-family: 'Montserrat';
    padding-left: 10px;
}

.foto-vanessa {
    max-width: 380px;
}

.foto-sobre-mim {
    width: 28%;
    padding-left: 32px;
    padding-top: 24px;
}

.texto-sobre-mim {
    display: flex;
    text-align: left;
    padding-right: 32px;
}

.tipo-pagamento {
    padding-top: 10px;
}

.fim-pagina {
    text-align: center;
    font-weight: 200;
}

.fim-pagina hr {
    height: 1px;
}

img {
    border-radius: 10px;
}

button {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    color: white;
}

.botao-finalizar {
    background-color: #16C34D;
}

.botao-cancelar {
    background-color: #DC0505;
}

button:hover {
    outline: 2px solid #833111;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button a:hover {
    text-decoration: none;
}

.botao {
    display: flex;
    justify-content: center;
}

.nav-bar {
    height: 64px;
    width: 100%;
    background-color: #833111;
    color: #f4e9e0;
    position: fixed;
    display: flex;
    z-index: 1;
    text-align: center;
    top: 0;
    left: 0;
    align-items: center;
    font-weight: bold;
}

.menu {
    width: 100%;
}

.menu a {
    padding: 24px;
    justify-content: center;
    display: inline-block;
    align-items: center;
}

.menu a :hover {
    text-decoration: underline;
}

.vann-store {
    font-family: "Allura", cursive;
    font-size: 28px;
    color: #f4e9e0;
    display: inline-block;
    width: 30%;
    position: absolute;
}

.vann-store h1 {
    text-align: left;
    padding-left: 32px;
}

.conteudo {
    padding-top: 48px;
}